.signinformbox {
  border: 1px cadetblue solid;
  height: 500px;
  width: 400px;
  border-radius: 8px;
  background-color: white;
  position: absolute;
  top: 100px;
  right: 95px;
  margin: 20px;
  padding: 20px;
}
.google {
  width: 200px;
  text-align: center;
  margin-left: 80px;
  margin-top: 10px;
  border-radius: 10px;
  border-color: rgb(47, 1, 216);
}
.google:hover {
  border-radius: 18px;
}
h3 {
  font-family: sans-serif;
  font-size: 24px;
}
input {
  float: right;
  width: 350px;
}
label {
  margin: 5px;
  font-size: 15px;
  font-weight: 500;
}
h4 {
  font-family: "Akaya Telivigala", cursive;
  font-size: 50px;
  margin: 50px;
  color: rgb(34, 33, 33);
}
