<div>
    <div class="card">
        <div class="card_part card_part-one">
            <img src="../assets/meeting5.jpg" alt="" height="100%" width="100%">
        </div>
        <div class="card_part card_part-two">
            <img src="../assets/meeting2.jpg" alt="" height="100%" width="100%">
        </div>
        <div class="card_part card_part-three">
            <img src="../assets/meeting1.jpg" alt="" height="100%" width="100%">
        </div>
        <div class="card_part card_part-four">
            <img src="../assets/meeting6.jpg" alt="" height="100%" width="100%">
        </div>
    </div>
</div>
