.signinformbox {
  border: 1px cadetblue solid;
  border-radius: 8px;
}

.google {
  width: 200px;
  text-align: center;
  border-radius: 10px;
  border-color: rgb(47, 1, 216);
}
.google:hover, .facebook:hover {
  border-radius: 18px;
}
h3 {
  font-family: sans-serif;
  font-size: 24px;
}

.heading-form {
  font-family: "Akaya Telivigala", cursive;
  font-size: 30px;
  margin-bottom: 40px;
}

input {
  float: right;
  width: 350px;
}
label {
  margin: 5px;
  font-size: 15px;
  font-weight: 500;
}

.facebook{
    width: 220px;
  text-align: center;
  border-radius: 10px;
  border-color: rgb(8, 4, 194);
}

button{
    margin: 10px;
}
input{
    margin: 2px;
}


h4 {
  font-family: "Akaya Telivigala", cursive;
  font-size: 50px;
  margin: 50px;
  color: rgb(34, 33, 33);
}


